input [type="password"] {
    color: yellow;
}

/*section.post {
    background-color: purple;
}*/


/*button:hover {

    background-color: orange;
    color: white;
}*/

.post button:hover {
    background-color: orange;
    color: white;
}

.post:nth-of-type(2n) {
    background-color: lightgray;
}

h2:first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple
}

p::selection {
    background-color: yellow;
    color: black;
}