body {
    margin: 0px;
}


div {
    width: 200px;
    height: 200px;
    background-color: lightblue;
}

h1 {
    background-color: pink;
    border-width: 100px;
    padding-left: 100px;
    margin: 0px;
}

#one {
    background-color: lightgreen;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    border-sizing: border-box;
    margin-left: 20px;

}

#two {
    background-color: lightcoral;
    border-width: 100px;
    border-style: dashed;
    border-left-width: 4px;
    margin-top: 20;
}

#three {
    background-color: lightgoldenrodyellow;
    border-width: 250px;
    border: 4px solid purple;
    border-left-style: dotted;
    border-radius: 30px;
    margin-left: 220px;
}

button {
    padding: 5px 10px 15px 20px;
    margin-top: 200px;
    margin-left: 200px;
}